The new form goes here ..

<%= form_for :planes do |f|  %>

  <p>
    <%= f.label :name, 'Le Name' %><br>
    <%= f.text_field :name %>
  </p>
    <p>
    <%= f.label :kind %><br>
    <%= f.text_field :kind %>

  </p>
    <p>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </p>

	<%= f.submit 'Save it!'  %>

<% end %>